<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
</head>
<body layout="vertical" md-theme="red" layout-fill ng-app="semMobileApp" ng-controller="semInboxController">
<div layout="column" layout-fill>
    <md-toolbar scroll-shrink layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleMenu()" aria-label="Menu Button">
                <div>
                    <ng-md-icon icon="view_headline" style="fill: white" size="36" ng-click="loadInbox()"></ng-md-icon>
                </div>
            </md-button>
            <h3 class="inbox-title">
                <span>My SEM Inbox</span>
            </h3>
        </div>
    </md-toolbar>
    <input placeholder="Search" ng-model="searchText" />
    <md-content layout="vertical" ng-bind-html="highlight(textToSearchThrough, searchText)" flex>
        <!-- MAIN CONTENT -->
        <md-content id="main" layout="horizontal" layout-align="center">
            <md-list flex>
                <div id="content">
                    <md-card ng-if="!initialDataLoaded">
                        <div class="collapsed-row" layout="column" layout-align="start center" layout-fill layout-padding flex>
                            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </md-card>
                    <div class="repeat-animation" ng-repeat="message in inbox.messages | filter:searchText track by $index">
                        <md-item>
                        <p ng-if="chunk.divider" hide-gt-sm >{{chunk.title}}</p>
                        <md-card class="message-{{message.unread}}" ng-if="!message.expanded && !message.divider" ng-click="showMessageDetails($index)" ng-mouseover="hover = true" ng-mouseout="hover = false">
                                <div class="collapsed-row" layout="column" layout-align="start center" layout-fill layout-padding flex>
                                    <div layout="row" layout-align="start center" layout-fill>
                                        <div layout="row" layout-align="start center" flex>
                                            <span class="truncate-ellipsis fromName" flex="65">{{message.fromName}}</span>
                                            <span class="truncate-ellipsis" flex=35">
                                                <span ng-if="message.attachments > 0"><ng-md-icon
                                                        icon="attach_file"></ng-md-icon></span>
                                            {{message.received | date}}</span>
                                        </div>
                                    </div>
                                    <div class="truncate-ellipsis subject" layout-fill >
                                        {{message.subject}}
                                    </div>
                                    <div class="truncate-ellipsis" layout-fill >
                                        {{message.body}}
                                    </div>
                                    <md-progress-linear ng-if="message.loading && !message.loaded" md-mode="indeterminate"></md-progress-linear>
                                </div>
                        </md-card>
                        <md-card class="{{message.expanded}}" ng-if="message.expanded && !message.divider" ng-click="message.expanded = !message.expanded">
                            <md-item>
                                <div class="collapsed-row" layout="column" layout-align="start center" layout-fill layout-padding flex>
                                    <div layout-fill >
                                        {{message.fromName}}
                                    </div>
                                    <div class="truncate-ellipsis" layout-fill>
                                        to <span ng-repeat="sentTo in message.details.sentTo">{{sentTo.name}}, </span>
                                    </div>
                                    <div layout-fill >
                                        on {{message.received | date}} {{message.attachements}} | <span>Details</span>
                                    </div>
                                    <hr class="message-header-divider"/>
                                    <div layout-fill >
                                        {{message.details.body}}
                                    </div>
                                    <hr class="message-header-divider"/>

                                    <div flex layout-fill>
                                        <md-grid-list class="attachments"
                                                      md-cols-sm="2" md-cols-md="4" md-cols-gt-md="8"
                                                md-row-height="1:1"
                                                md-gutter="8px" md-gutter-gt-sm="4px" >
                                            <md-grid-tile ng-class='["attachment", "attachment-" + $index]'
                                                          ng-repeat="attachement in message.details.attachments track by $index"  ng-click="getAttachment($parent.$index, $index); $event.stopPropagation();" >
                                                <ng-md-icon icon="description" style="fill: white" size="140"></ng-md-icon>
                                                <md-grid-tile-footer>
                                                    <h3>{{attachement.name}}</h3>
                                                </md-grid-tile-footer>
                                            </md-grid-tile>
                                        </md-grid-list>
                                    </div>

                                </div>
                            </md-item>
                        </md-card>
                        </md-item>
                    </div>
                </div>
            </md-list>
        </md-content>
    </md-content>
</div>

<!-- HOVERING FAB -->
<!-- <md-button  class="md-fab md-raised" ng-click="showAddButtons = !showAddButtons;" aria-label="New document">
    <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
</md-button> -->
<md-button id="mainFab" class="md-fab md-raised" ng-click="showAddButtons = !showAddButtons;" aria-label="Photos">
    <div>
        <ng-md-icon icon="mode_edit" style="fill: white" size="36"></ng-md-icon>
    </div>
  <!--<md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>-->
</md-button>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/hammerjs/hammer.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
<script src="/bower_components/angular-material-icons/angular-material-icons.js"></script>
<script src="/controllers/controllers.js"></script>
</body>
</html>