html {
    height: 100%;
}

body {
    background-color: #ececec;
}

header md-toolbar {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

footer {
    padding: 16px;
}

md-content#main.md--theme {
    background-color: #ececec;
}

md-card {
    background-color: #ffffff;
    cursor: pointer;
}

.collapsed-row .truncate-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.round-face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
}

#mainFab {
    position: fixed;
    right: 2%;
    bottom: 24px;
    background-color: #db4437;
}

#mainFab svg {
    fill: white;
}

#fab-popup {
    height: 260px;
    position: fixed;
    right: 2%;
    bottom: 90px;
}

#main {
    width: 100%;
}

#content {
    min-width: 70%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

md-card{
    margin: 1px 0px;
}

md-card.true {
    margin: 12px 8px;
}

.message-true .fromName, .message-true .subject{
 font-weight: bold;
}

.message-header-divider{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #eee;
}


.collapsed-row-NOTUSED {
    padding-top: 20px;
    padding-bottom: 20px;
}


.inbox-title{
    margin-left: 15px;
}



.attachments .green, .attachments .attachment {
    background: #b9f6ca; }
.attachments .purple, .attachments .attachment-0 {
    background: #b388ff; }
.attachments .red, .attachments .attachment-1 {
    background: #ff8a80; }
.attachments .green, .attachments .attachment-2 {
    background: #b9f6ca; }
.attachments .yellow, .attachments .attachment-3 {
    background: #ffff8d; }
.attachments .blue, .attachments .attachment-4 {
    background: #84ffff; }
.attachments .gray, .attachments .attachment-5 {
    background: #f5f5f5; }
.attachments md-grid-tile {
    transition: all 400ms ease-out 50ms; }


.highlightedText {
    background: yellow;
}

md-toolbar.md-red-theme {
    background-color: rgb(230, 0, 0);
}

#mainFab {
    background-color: rgb(230, 0, 0);
}
.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
    /* notice how we're using animation instead of transition here */
    -webkit-animation-delay:0.05s;
    animation-delay:0.05s;

    /* yes we still need to do this too */
    -webkit-animation-duration:0;
    animation-duration:0;
}

.cell {
    line-height:100px;
    width:100px;
    font-size:1.5em;
    text-align:center;
    border:1px solid #ddd;
    float:left;
}

.repeat-animation.ng-enter {
    -webkit-animation: enter_animation 0.5s;
    animation: enter_animation 0.5s;
}
.repeat-animation.ng-leave {
    -webkit-animation: leave_animation 0.5s;
    animation: leave_animation 0.5s;
}

.repeat-animation.ng-enter {
    /* pre-reflow animation styling */
    opacity:0;
}

@-webkit-keyframes enter_animation {
    from { opacity:0; }
    to { opacity:1; }
}

@keyframes enter_animation {
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes leave_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@keyframes leave_animation {
    from { opacity:1; }
    to { opacity:0; }
}